
<h1 class="text-center" style="margin-top: 40px">Activities</h1>

<!-- Wrapper -->
<div id="wrapper" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-6">
            <!-- Services -->
            <div class="container">
                <div class="col-lg-6 mx-auto">
                    <h2>Requested Services</h2>
                    <hr class="small">
                    <div class="service-item">
                        <h4>
                            <strong>
                                {{#each user.RequestedService}}
                                    <li>
                                        Service: {{service_name}}
                                        Status: {{is_accepted}}
                                        Time: {{requested_datetime}}
                                        Credit: {{num_hours}}
                                    </li>
                                {{/each}}
                            </strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="col-lg-6 mx-auto">
                    <h2>Offered Services</h2>
                    <hr class="small">
                    <div class="service-item">
                        <h4>
                            <strong>
                                {{#each user.OfferedServices}}
                                    <li>
                                        Service: {{service_name}}
                                        Status: {{is_accepted}}
                                        Time: {{requested_datetime}}
                                        Credit: {{num_hours}}
                                    </li>
                                {{/each}}
                            </strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    <!-- Row -->
    </div>
</div>
