<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" href="/" style="color: #fff">Time is Money</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <br />
        <li class="nav-item">
          <h4 class="h4-responsive" style="text-align: center">All Categories</h4>
        </li>
        {{#each allCategories}}
          <li class="nav-item">
            <a class="nav-link" href="/subcategory/{{this.category_name}}">{{this.category_name}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>

    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h2>Sub Categories</h2>
      <!-- Categories -->
      <div id="categories" class="container-fluid">
        <div class="container">
          <h1 class="h1-responsive font-bold text-center">{{Category}}</h1>
          <br />
          <div class="row">
            {{#each allSubCategories}}
              <div class="col-md-4 col-margin">
                <div class="card text-center">
                  <div class="card-header card-info">
                    <h4 class="card-title font-bold text-white text-uppercase">{{this.subcategory_name}}</h4>
                  </div>
                  <div class="card-body">
                    <!-- <p class="card-text">{{this.description}}</p> -->
                    <p class="card-text">Some descriptions we're gonna put into our models</p>
                  </div>
                  <div class="card-footer card-info text-right">
                    <a class="card-link" href="/services/{{this.subcategory_name}}">View Services</a>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
