<!--/.Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark info-color">
  <div class="container">
    <a class="navbar-brand" href="/">Time is Money</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{cur_user.username}}</a>
          <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div id="requested" class="container" style="padding: 30px 0px;">
    <div class="col-md-12">
      <!--List-->
      <div class="mt-4 card z-depth-3" style="padding: 40px 30px 0px 30px;">
        {{#if success}}
          <div class="alert alert-success alert-dismissable fade show">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h4 class="alert-heading text-center">{{success}}</h4>
          </div>
        {{/if}}
        <div clas="card-header">
          <div class="text-center">
            <h2 class="h2-responsive"><i class="fa fa-server"></i> Requested Services</h2>
          </div>
        </div>
        <div class="card-body">

          <table class="table table-hover table-responsive" cellspacing="0" width="100%">
            {{#if servicesreq}}
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Credit</th>
                  <th>Status</th>
                  <th>Time</th>
                  <th>Cancel Service</th>
                </tr>
              </thead>
              <!--Body-->
              {{#each servicesreq}}
                <tbody>
                  <tr>
                    <td>{{ServiceId}}</td>
                    <td>{{Service.service_name}}</td>
                    <td>{{num_hours}}</td>
                    <td>{{is_accepted}}</td>
                    <td>{{requested_datetime}}</td>
                    <td>
                      <form name="delete-post" method="POST" action="/activity/{{ServiceId}}?_method=DELETE">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to cancel this service?');">&times;</button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              {{/each}}
            {{else}}
              <thead>
                <tr>
                  <th><strong>OOPS. Your List is Empty!</strong></th>
                </tr>
              </thead>
              <tbody>
                <td><a href="#"><strong>CLICK HERE</strong></a> to request your first service!</td>
              </tbody>
            {{/if}}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="offered" class="container" style="padding: 30px 0px;">
    <div class="col-md-12">
      <!--Form-->
      <div class="mt-4 card z-depth-3" style="padding: 40px 30px 0px 30px;">
        {{#if success}}
          <div class="alert alert-success alert-dismissable fade show">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h4 class="alert-heading text-center">{{success}}</h4>
          </div>
        {{/if}}
        <div clas="card-header">
          <div class="text-center">
            <h2 class="h2-responsive"><i class="fa fa-server"></i> Offered Services</h2>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-hover table-responsive" cellspacing="0" width="100%">
            {{#if servicesoff}}
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Location</th>
                  <th>Time</th>
                  <th>Remove Record</th>
                </tr>
              </thead>
              <!--Body-->
              {{#each servicesoff}}
                <tbody>
                  <tr>
                    <td>{{id}}</td>
                    <td>{{service_name}}</td>
                    <td>{{description}}</td>
                    <td>{{location}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                      <form name="delete-post" method="POST" action="/activity/{{id}}?_method=DELETE">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to cancel this service?');">&times;</button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              {{/each}}
            {{else}}
              <thead>
                <tr>
                  <th><strong>OOPS. Your List is Empty!</strong></th>
                </tr>
              </thead>
              <tbody>
                <td><a href="/profile/new"><strong>CLICK HERE</strong></a> to offer your first service!</td>
              </tbody>
            {{/if}}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
