
<section class="view intro-3 hm-gradient" style="margin-top: 10px">
    <div class="full-bg-img">
        <div class="container flex-center">
        <div class="col-md-6">
            <!--List-->
            <div class="card wow fadeInRight" data-wow-delay="0.5s">
                <div class="card-body">
                    <!--Header-->
                    <div class="text-center">
                        <h3 class="white-text"><i class="fa fa-server white-text"></i> Services You Requested</h3>
                        <hr class="hr-light">
                    </div>
                    <div class="text-justify">
                        <!--Body-->
                        {{#each servicesreq}}
                            <div class="service-preview">
                                <h4 class="service-name">
                                    {{service_name}}
                                </h4>
                                <li>
                                    Status: {{this.is_accepted}}
                                </li>
                                <li>
                                    Time: {{this.requested_datetime}}
                                </li>
                                <li>
                                    Credit: {{this.num_hours}}
                                </li>
                            </div>
                            <hr>
                        {{/each}}
                    </div>
                </div>
            </div>
        <!--/.List-->
        </div>

        <div class="col-md-6">                        <!--Form-->
            <div class="card wow fadeInRight" data-wow-delay="0.5s">
                <div class="card-body">
                    <!--Header-->
                    <div class="text-center">
                        <h3 class="white-text"><i class="fa fa-server white-text"></i> Services You Offered</h3>
                        <hr class="hr-light">
                    </div>
                    <div class="text-justify">
                        <!--Body-->
                        {{#each servicesoff}}
                            <div class="service-preview">
                                <h4 class="service-name">
                                    {{service_name}}
                                </h4>
                                <li>
                                    Status: {{this.is_accepted}}
                                </li>
                                <li>
                                    Time: {{this.requested_datetime}}
                                </li>
                                <li>
                                    Credit: {{this.num_hours}}
                                </li>
                            </div>
                            <hr>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>