<!--/.Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark info-color">
  <div class="container">
    <a class="navbar-brand" href="/">Time is Money</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> My Account</a>
          <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div id="services" class="container">
      <div class="col-md-12">
        <!--List-->
        <div class="mt-4 card z-depth-3" style="padding: 40px 30px 0px 30px;">
          <div clas="card-header">
            <div class="text-center">
              <h2 class="h2-responsive"><i class="fa fa-server"></i> Requested Services</h2>
            </div>
          </div>
          <div class="card-body">

            <table class="table table-hover table-responsive" cellspacing="0" width="100%">
              {{#if servicesreq}}
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Credit</th>
                  <th>Status</th>
                  <th>Time</th>
                </tr>
              </thead>
                <!--Body-->
                {{#each servicesreq}}
                  <tbody>
                    <tr>
                      <td>{{Service.service_name}}</td>
                      <td>{{this.num_hours}}</td>
                      <td>{{this.is_accepted}}</td>
                      <td>{{this.requested_datetime}}</td>
                    </tr>
                  </tbody>
                {{/each}}
              {{else}}
                <thead>
                  <tr>
                    <th><strong>OOPS. Your List is Empty!</strong<</th>
                  </tr>
                </thead>
                <tbody>
                  <td><a href="/profile/new"><strong>CLICK HERE</strong></a> to offer your first service!</td>
                </tbody>
              {{/if}}
            </table>


            <!--Header-->
            <!-- <div class="text-center">
              <h3><i class="fa fa-server"></i> Services You Requested</h3>
              <hr class="hr-light">
            </div>
            <div class="text-justify">
              {{#if servicesreq}}

                {{#each servicesreq}}
                  <div class="service-preview">
                    <h4 class="service-name">{{Service.service_name}}</h4>
                    <ol class="text-justify">
                      <li>
                        Credit: {{this.num_hours}}
                      </li>
                      <li>
                        Accepted: {{this.is_accepted}}
                      </li>
                      <li>
                        Time: {{this.requested_datetime}}
                      </li>
                    </ol>
                  </div>
                  <hr>
                {{/each}}
              {{else}}
                <div class="text-center">
                  <p>
                    OOPS. YOUR LIST IS EMPTY
                    <br>
                    <a href="/profile/new"><strong>CLICK HERE</strong></a> to start your first order.
                  </p>
                </div>
              {{/if}} -->
              </div>
          </div>
        </div>
      </div>
      <div id="services" class="container">
      <div class="col-md-12">
        <!--Form-->
        <div class="mt-4 card z-depth-3" style="padding: 40px 30px 0px 30px;">
          <div clas="card-header">
            <div class="text-center">
              <h2 class="h2-responsive"><i class="fa fa-server"></i>Offered Services</h2>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-hover table-responsive" cellspacing="0" width="100%">
              {{#if servicesoff}}
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Location</th>
                  <th>Time</th>
                </tr>
              </thead>
                <!--Body-->
                {{#each servicesoff}}
                  <tbody>
                    <tr>
                      <td>{{service_name}}</td>
                      <td>{{this.description}}</td>
                      <td>{{this.location}}</td>
                      <td>{{this.createdAt}}</td>
                    </tr>
                  </tbody>
                {{/each}}
              {{else}}
                <thead>
                  <tr>
                    <th><strong>OOPS. Your List is Empty!</strong<</th>
                  </tr>
                </thead>
                <tbody>
                  <td><a href="#"><strong>CLICK HERE</strong></a> to request your first service!</td>
                </tbody>
              {{/if}}
            </table>

            <!-- <div class="text-center">
              <h3><i class="fa fa-server"></i> Services You Offered</h3>
              <hr class="hr-light">
            </div>
            <div class="text-justify">
              {{#if servicesoff}}
                {{#each servicesoff}}
                  <div class="service-preview">
                    <h3 class="service-name">{{service_name}}</h3>
                    <ol class="text-justify">
                      <li>
                        Description: {{this.description}}
                      </li>
                      <li>
                        Location: {{this.location}}
                      </li>
                      <li>
                        Time: {{this.createdAt}}
                      </li>
                    </ol>
                  </div>
                  <hr>
                {{/each}}
              {{else}}
                <div class="text-center">
                  <img src="">
                  <p>
                    OOPS. YOUR LIST IS EMPTY
                    <br>
                    <a href="#"><strong>CLICK HERE</strong></a> to create an Offer</a>
                  </p>
                </div>
              {{/if}}
            </div> -->
          </div>
        </div>
      </div>
  </div>
</div>
