<div>
  <form action="/services/{{{toURI service.SubCategory.subcategory_name}}}/{{service.id}}" method="POST" class="form-horizontal">
    <h1>{{service.service_name}}</h1>

    by {{service.User.username}}

    <div>
      <b>Detail: </b> {{service.description}}
    </div>

    <div>
      <b>Location: </b> {{service.location}}
    </div>

    <div style="width: 40%;">
      <input id="datetime" type="datetime-local" name="datetime" value="2017-01-01T00:00">
    </div>

    <div>
      <b> Number of Hours: </b>
      <select class="dropdown" name="num_hours">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <input type="hidden" name="user_id" value="{{service.UserId}}">
    <input type="hidden" name="service_id" value="{{service.id}}">

    <button id="submit" type="submit" class="btn btn-default btn-success">Request!</button>
</form>

</div>
