<nav class="navbar navbar-expand-lg navbar-dark info-color">
  <div class="container">
    <a class="navbar-brand" href="/">Time is Money</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        {{#if cur_user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{cur_user.username}}</a>
            <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a href="/signup" class="btn btn-light-green btn-sm wow fadeInRight" rel="nofollow">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="btn btn-primary btn-sm wow fadeInRight" rel="nofollow">Log In</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="container" style="padding: 30px 0px;">
    <div class="card-deck">
      <div class="col-md-8">
        <div class="mt-4 card z-depth-3">
          <div class="card-header card-primary text-white">
            <h1 class="h1-responsive font-bold">{{service.service_name}}</h1> by {{service.User.username}}
          </div>
          <div class="card-body">
            <h3 class="h4-responsive">Description:</h3>
            <p>{{service.description}}</p>

            <h3 class="h4-responsive">Location:</h3>
            <p>{{service.location}}</p>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="mt-4 card z-depth-3">
          <div class="card-header cyan accent-3 text-white">
            <h2 class="h2-responsive font-bold">Request Information</h2>
          </div>
          <div class="card-body">
            {{#if cur_user}}
              <form action="/services/{{{toURI service.SubCategory.category_name}}}/{{{toURI service.SubCategory.subcategory_name}}}/{{service.id}}" method="POST" class="form-horizontal">

                <p>Timeframe: </p>
                <input id="datetime" type="datetime-local" name="datetime" value="2017-01-01T00:00">
                <br /> <br />

                <p> Number of Hours:
                  <select class="dropdown" name="num_hours">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                </p>
                <hr>
                <div class="text-center">
                  <input type="hidden" name="service_id" value="{{service.id}}">
                  <button id="submit" type="submit" class="btn btn-default btn-success">Request</button>
              </form>
              </div>
            {{else}}
              <div class="text-center">
                {{!-- if the user not logged in, let them log in before they request service --}}
                <h4 class="h4-responsive">Please Login To Request Service</h4>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
